article {
    float: left;
    padding: 20px;
}

header {
    border-bottom: 1px solid gray;
    padding: 20px;
}

h2 {
    font-size: 30px;
}

nav {
    border-right: 1px gray solid;
    float: left;
    height: 600px;
    width: 200px;
}

nav ol {
    list-style: none;
}

